[MASTER]
disable=
    W0401, # wildcard-import
    W0614, # unused-wildcard-import
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    R0801, # similar lines in 2 files
extension-pkg-whitelist=PyQt5
ignore=
    venv,
    README.md,
    __pycache__,
    media,
    example_scenes.py,
    requirements.txt,
    .vscode,
    .idea,
    .pylintrc,
    .coverage,
    .pytest_cache
[DESIGN]
max-attributes=12